<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>File Server Manage</title>
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.css')}}">
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css.map"> -->
    <link rel="stylesheet" type="text/css" href="{{static_url('css/fscss/mycss.css')}}">
</head>
<body>
<div id="app"></div>
<div id="modalapp"></div>
</body>
<script src="{{static_url('js/jquery.js')}}"></script>
<script src="{{static_url('js/bootstrap.js')}}"></script>
<script src="{{static_url('js/vue.js')}}"></script>
<script src="{{static_url('js/fs/util.js')}}"></script>
<script src="{{static_url('js/fs/alticle.js')}}"></script>
<script src="{{static_url('js/fs/poetry.js')}}"></script>
</html>

